.THIS .slds-navigation-list--vertical {
    width: 320px;
}

.THIS .badge1 {
    margin-left: 40px;
}

.THIS .table-style {
    display: table;
    border-spacing: 20px 20px;
}

.THIS .table-cell {
    display: table-cell;
    width: 100px;
    text-align: left;
    vertical-align: middle;
    horiz-align: left;
}

.THIS .active {
    border-left-color: mediumblue;
    border-left-width: 3px;
    background-color: lightblue;
}